{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop - About</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'products' %}">Продукты</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 class="text-center">О нас - мы GameShop</h1>
        <p class="text-center">Gamestop - это ваш универсальный магазин, где вы найдете все, что нужно для игр! У нас есть все, от последних релизов до вечной классики.</p>
    </div>
</body>
</html>
